* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5vw;
  text-transform: uppercase;
  margin: 15px 0;
  text-align: center;
}

.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;
  background-color: #fff;
}

/*this is for chrome / firefox/ opera and safari*/
.horizontal_slider::-webkit-scrollbar {
  display: none;
}

/* for ms*/
.horizontal_slider {
  -ms-overflow-style: none;
}

.slider_container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 10px;
  width: 300px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all 0.4s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}

.item:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.06);
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
/* .item img {
  width: 150px;
  height: 225px;
  object-fit: cover;
} */

.item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card-text {
  /* background-color: red; */
  padding: 5px;
}
